---

layout: default

---

<div class="row well"> 
<div class="col-md-6"> <!-- left -->
    Welcome to the homepage for Mathematical Statistics!

    There are a few tools that you can use to keep up with the class and get to
know your classmates. 

<ul>
<li>Start by taking a look at the syllabus with the link on
the right. </li>
<li>Course assignments will be posted on <a href="https://sakai.rutgers.edu">Sakai</a></li>
<li>Videos will be available both on <a href="https://sakai.rutgers.edu">Sakai</a> has well as on YouTube via links on this page</li>
<li>Office hours will take place each week on Zoom. You can find a link on <a href="https://sakai.rutgers.edu">Sakai</a></li>
<li>You can also meet people in this and in my other class on the Torsor Lounge Discord server. You can find an invitation link on <a href="https://sakai.rutgers.edu">Sakai</a></li>
</ul>

    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-5 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div> 
</div>
